@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:400,600,700");
.carousel-caption {
  max-width: 100%;
  width: 100%;
  left: 0;
}
.carousel .carousel-indicators2 button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.footer {
  /* background: linear-gradient(105deg, #6e99e6, #093c94); */
  /* background: #093c94; */
  padding-top: 30px;
  padding-bottom: 40px;
}
