@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:400,600,700");

:root {
  --plus-color: #2ecc71;
  --minus-color: #c0392b;
}
.carousel-caption {
  max-width: 100%;
  width: 100%;
  left: 0;
}
.carousel .carousel-indicators2 button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.footer {
  /* background: linear-gradient(105deg, #6e99e6, #093c94); */
  /* background: #093c94; */
  padding-top: 30px;
  padding-bottom: 40px;
}
/* .accordion{
  --bs-accordion-bg :color: blue

}
 */

.nav-pills .nav-item .nav-link {
  /* color: #0080ff; */
  margin-right: 7px;
  border: 1px solid gray;
  border-radius: 0px;
}

.nav-pills .nav-item .nav-link.active {
  background-color: #d3d3d3;

  color: #0080ff;
}

.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

@media screen and (max-width: 640px) {
  .onmobile {
    width: 100%;
  }
}

.income > div:first-of-type {
  border-right: 1px solid black;
}

.history li {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.history li.plus {
  border-right: 5px solid var(--plus-color);
}

.history li.minus {
  border-right: 5px solid var(--minus-color);
}

.history {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}
